.modal-header{
    background-color: #D9D9D9 !important;
    border-bottom: #121212 1px solid !important;
}
.modal-body{
    background-color: #D9D9D9 !important;
    outline: none;
    border-bottom: #121212 1px solid !important;
}
.modal-footer{
    background-color: #D9D9D9 !important;
    outline: none;
    border: none;
}
.modal-button{
    background-color:  #121212 !important;
    color: #D9D9D9 !important;
}
.bi-check2-circle{
    font-size: 1.5rem;
    position: relative;
    top: 0;
    margin-left: 10px;
}